
@{
    ViewBag.Title = "CreateStaff";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}
<main class="main">
    <div class="main_title">
        <p class="main_title-label "><b>Danh sách nhân viên/Thêm nhân viên</b></p>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                <h1 style="font-size:medium "><b>Tạo nhân viên</b></h1>
                <form action="/Admin/AHome/CreateStaff" method="post">
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group col-md-4">
                            <label class="control-label">Họ và tên</label>
                            <input class="form-control" type="text" id="fullName" name="fullName" placeholder="Họ và tên" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Tên đăng nhập</label>
                            <input class="form-control" type="text" id="userName" name="userName" placeholder="Tên đăng nhập" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Mật khẩu</label>
                            <input class="form-control" type="text" id="password" name="password" placeholder="Mật khẩu" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Ngày sinh</label>
                            <input class="form-control" type="date" id="birthDate" name="birthDate" placeholder="Ngày sinh" required>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group col-md-4 ">
                            <label class="control-label">Giới tính</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="Nam" value="true">
                                <label class="form-check-label" for="male">Nam</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="Nữ" value="false">
                                <label class="form-check-label" for="female">Nữ</label>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Địa chỉ</label>
                            <input class="form-control" type="text" id="address" name="address" placeholder="Địa chỉ" required>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Số điện thoại</label>
                            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" placeholder="Số điện thoại" required>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px;">
                        <div class="form-group  col-md-4">
                            <label class="control-label">Lương</label>
                            <input class="form-control" type="text" id="salary" name="salary" placeholder="Lương" min="0" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Email</label>
                            <input class="form-control" type="text" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Vai trò</label>
                            <input class="form-control" type="text" id="role" name="role" placeholder="Vai trò" value="Staff" readonly>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Tạo</button>
                    <a href="/Admin/AHome" class="btn btn-danger">Hủy</a>
                </form>
            </div>
        </div>


    </div>
</main>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts\jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#userName').blur(function () { // Bắt sự kiện khi người dùng rời khỏi trường nhập userName
            var userName = $(this).val(); // Lấy giá trị của userName
            checkUserName(userName); // Gọi hàm kiểm tra userName
        });
        $('#email').blur(function () { // Bắt sự kiện khi người dùng rời khỏi trường nhập userName
            var email = $(this).val(); // Lấy giá trị của userName
            checkEmail(email); // Gọi hàm kiểm tra userName
        });
    });

    function checkUserName(userName) {
        $.ajax({
            url: '/Admin/AHome/CheckUserName',
            type: 'POST',
            data: { userName: userName },
            success: function (data) {
                if (data.isExist) {
                    // userName không tồn tại, bạn có thể thực hiện hành động phù hợp ở đây
                    
                    swal("", "Tên đăng nhập đã tồn tại.", "error");
                } 
            },
            error: function () {
                swal('Đã xảy ra lỗi khi kiểm tra tên đăng nhập.');
            }
        });
    }
    function checkEmail(email) {
        $.ajax({
            url: '/Admin/AHome/CheckEmail',
            type: 'POST',
            data: { email: email },
            success: function (data) {
                if (data.isExist) {
                    // Email không tồn tại, bạn có thể thực hiện hành động phù hợp ở đây

                    swal("", "Email đã tồn tại.", "error");
                }
            },
            error: function () {
                swal('Đã xảy ra lỗi khi kiểm tra Email.');
            }
        });
    }
    function formatNumber(value) {
        return value.replace(/\D/g, "")
            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    document.getElementById('salary').addEventListener('input', function (e) {
        let value = e.target.value;
        e.target.value = formatNumber(value);
    });
    document.addEventListener('DOMContentLoaded', function () {
        // Lắng nghe sự kiện submit của form
        document.querySelector('form').addEventListener('submit', function (e) {
            // Kiểm tra xem các trường đã được nhập đầy đủ hay chưa
            let isValid = true;
            document.querySelectorAll('input[required]').forEach(function (input) {
                if (!input.value.trim()) { // Kiểm tra xem giá trị của trường có tồn tại hay không
                    isValid = false;
                    input.classList.add('is-invalid'); // Thêm class is-invalid để highlight trường cần nhập
                } else {
                    input.classList.remove('is-invalid');
                }
            });

            // Nếu có trường nào chưa được nhập đầy đủ, ngăn chặn gửi form đi và hiển thị thông báo
            if (!isValid) {
                e.preventDefault();
                alert('Vui lòng nhập đầy đủ thông tin');
            }
            else {
                // Ngăn chặn hành động mặc định của form (không gửi đi)
                e.preventDefault();

                // Lấy giá trị từ trường lương
                let salaryInput = document.getElementById('salary').value;

                // Chuyển đổi giá trị thành số nguyên và gán lại vào trường lương
                document.getElementById('salary').value = parseInt(salaryInput.replace(/,/g, ''), 10);

                // Gửi form đi
                Swal.fire({

                    position: "center",
                    icon: "success",
                    title: "Thêm thành công",
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    // Gửi form đi
                    this.submit();
                });
            }
        });
    });


</script>




